## print 함수

In [4]:
a = 10 
b = 20

print(a)

print(a,b)

print(a,30,b)

10
10 20
10 30 20

## print 함수 설정
* sep : 구분자, 각 출력할 변수 사이에서 구별하는 역할
* end : 마지막에 출력할 문자열

In [15]:
print(a,b,10,100, sep='*', end='!')

9*11.45*10*100!

In [9]:
#type 함수 : 값의 타입을 알고자할 때 사용

a = 10
b = 11.45

type(a)

int

## None
*  아무런 값을 갖지않을 때 사용
* 일반적으로 변수가 초기값을 갖지 않게 하여 해당 변수를 생성할 때 사용

In [16]:
c = None
print(c)

None

## expression evaluation & assignment (식평가 & 대입)
* 변수의 값이 변경되려면 = 를 사용하여 대입이 발생하는 경우

In [17]:
a = 9
a - 3 

print(9)

9